.menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid green;
}

.link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.88);
  display: inline-block;
  padding: 10px 15px;
}
.link:global(.active) {
  color: green;
  font-weight: 900;
}
